/* CSS Document */
@import "../normalize.css";
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body { 
    font-family: Arial, "Times New Roman", Times, serif;
    font-size:12px;
    line-height:18px;
    background:#9cc1d3 /* url(../../images/body_bg_admin.jpg) top repeat-x */;
    padding:0;
    min-height: 100%;
    height: auto !important;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
p {margin: 0 0 1.2em 0; line-height:18px; font-size:12px;}
p a:link {text-decoration: underline;}
a:link, a:visited {cursor:pointer; outline: none;text-decoration: underline;}
a:focus {cursor:pointer; outline: none;  text-decoration: underline;}
a:hover, a:active, li a.active {cursor:pointer; outline: none; text-decoration: underline;}  
h1 {font-size: 2em;
    line-height: 1em;
    margin-bottom: .5em; 
}
h2 { font-size: 1.5em;
     margin-bottom: .5em;}
form label {color:#c4c4c4}
table {
    width: 100%;
    margin-bottom:25px;
}
table td {
    position:relative;
    padding: 10px;
    vertical-align:top;
}

td.short {
	width:110px;
}

.wrapper_table { position:relative}
.message{color:#c98c21;}
form label {color:#747474; }
input[type="checkbox"] { margin-right:15px}
input.text { 
    width:200px;
    padding:5px;
    border:#747474 solid 1px;
    -webkit-border-radius: 4px;
    color:#747474;
    margin: 2px 15px 10px 10px;
    margin-left: 0;
}
input.short { 
    width:50px;
    padding:5px;
    border:#747474 solid 1px;
    -webkit-border-radius: 4px;
    color:#747474;
    margin: 2px 15px 10px 10px;
    margin-left: 0;
}
table td input.text { 
    width:200px;
    color:#747474;
    border:#cccccc dashed 1px;
    -webkit-border-radius: 0px;
    padding:5px;
    margin: 0px;
}
table td input.sale { 
    width:50px;
    border:#cccccc dashed 1px;
    background:#ffffff url(../../images/admin/sale.png) right no-repeat;
}
table td input.short { 
    width:25px;
    padding:5px;
    border:#cccccc dashed 1px;
    -webkit-border-radius: 0px;
    color:#747474;
    margin: 0px;
}
.group_row {
	background:#ffcc00;
}
.group_row:hover {
	background:#ffcc88;
}
.group_btn {
	position:absolute;
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	background:#ffcc00;
	cursor: pointer;
}
select, textarea{ 
    padding:5px;
    border:#747474 solid 1px;
    -webkit-border-radius: 4px;
    color:#747474;
    margin: 2px 15px 10px 10px;
    margin-left: 0;
}
textarea#editor, textarea#editor1, textarea#editor2 {
    width:1200px;
}
table td textarea.text { 
    width:100%;
    color:#747474;
    border:#cccccc dashed 1px;
    -webkit-border-radius: 0px;
    padding:5px;
    margin: 0px;
}
select { 
    min-width:180px;
}
select.text { 
    min-width:213px;
    width:213px;
}
select.short { 
    min-width:80px;
    width:80px;
}
.form_submit { 
    position:relative;
    min-width:120px; 
    height:15px; 
    background-image:url(../../images/grey.jpg);
    color:#2a2a2a;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-repeat:repeat-x;
    background-position:0 0;
    height:28px;
    padding:0 1em;
    border:1px solid #d8d8d8;
    box-shadow:1px 1px 1px #555;
    -moz-box-shadow:1px 1px 1px #555;
    -webkit-box-shadow:1px 1px 1px #555;
    text-shadow:0 1px 0 #fefefe;
    font-weight:bold;
    cursor:pointer;
    margin: 15px;
    margin-left: 0;
}
a.form_submit {text-decoration: none;
               text-align: center;}
.form_submit:hover {background-position:0px -60px;border-color:#9cabb6;}
div.form_item { position:relative; display:inline-table; vertical-align:top;}
div.inline_block { position:relative; display:inline-table; vertical-align:top;}
div.form_item input.text {
    margin: 15px;
    margin-left: 0;
}
div.form_item input.short {
    margin: 15px;
    margin-left: 0;
}
div.form_item select{
    margin: 15px;
    margin-left: 0;
}
div.form_item textarea{
    margin: 15px;
    margin-left: 0;
}
div.form_item_import { min-height:170px; position:relative; float:left; margin-top:25px; margin-bottom:25px; margin-right:15px; padding:10px; border:#dddddd solid 1px; border-radius:5px;
                       -moz-border-radius:5px;
                       -webkit-border-radius:5px;}
div.form_item_textarea { margin-right:0px; margin-bottom:25px; margin-top:25px}
.margin_right25 {
    margin-right:25px;
}
.right {
	float:right;
    text-align:right;
}
.pos_top_right {
	position:absolute;
	top:0px;
	right:0px;
}
.tab_wrap {
	position:relative;
}
#address_block { margin-top:25px; margin-bottom:25px; display:none}
#wrapper {
    position: relative;
    width:90%;
    background:#ffffff;
    min-height:700px;
    margin:0 auto;
    margin-top:0px;
    padding-left:5%;
    padding-right:5%; 
    padding-top:25px;
    padding-bottom:150px; 
}
#header-wrap{
    width:90%;
    height: 56px;
    padding: 0px 5%;
    background: url('../../images/admin/header.png') repeat-x;
    min-width: 900px;
}
#top-wrap {
    width:100%;
    clear:both;
    background:transparent url(../../images/admin/menu-bg.png) left top repeat;
}
#top-wrap .content { z-index:1; }
#top-wrap:after {
	content: "";
	display:block;
	clear:both;
	height: 0;
	visibility: hidden;
}
.content {
    margin:0 auto;
    position:relative;
    z-index:0;
    width:90%;
    clear:both;
}
#menu-wrap {
    float:left;
    width:auto;
    z-index:100;
}
ul.menu {
    margin:0;
    padding:0;
    position:relative;
    margin-left:0;
}
ul.menu li {
    position: relative;
    display: inline;
    float: left;
}
ul.menu li.menu_right { float:right}
.menu-hover { background:transparent url(../../images/admin/menu-hover-bg.png) left top repeat-x scroll; }
ul.menu li.current_page_item a { color: #fff; }
ul.menu li a {
    display:block;
    height: 100%;
    padding:0 20px;
    text-align: left;
    line-height: 45px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
}
* html ul.menu li a { display: inline-block; }
ul.menu li a:hover { color: #fff;  background:transparent url(../../images/admin/menu-hover-bg.png) left top repeat-x scroll; }
ul.menu  > li + li {
    background: url(../../images/admin/split.png) center left no-repeat;
}
ul.menu li.selected {
    background: url(../../images/admin/menu-selected-bg.png) repeat-x;
}
ul.menu li.selected + li {
    background:none;
}
ul.menu ul {
    visibility:hidden;
    position:absolute;
    left:0;
    top:45px;
    width: 160px;
    z-index:1;
    background-color:#013c74;
    border-top:1px solid #1d1d1d;
}
ul.menu li li {
    display:block;
    width: 100%;
    cursor:pointer;
    background:transparent url(../../images/admin/menu-sub-bg.png) left bottom repeat-x scroll;
    border-bottom:1px solid #1d1d1d;
}
ul.menu li a.is_caption {
    line-height:13px;
    padding:8px 10px 0;
}
ul.menu li li a.is_caption {
    line-height:12px;
    padding:7px 10px 4px;
}
ul.menu li .menu-caption {
    display:block;
    font-size:9px;
    color:#666;
    line-height:23px;
}
ul.menu li li .menu-caption { color:#888; }
ul.menu li li a {
    height:auto;
    color:#ccc;
    line-height:30px;
    font-weight:normal;
    text-transform:none;
}
ul.menu li li a:hover { }
ul.menu ul ul {
    position:absolute;
    left:100%;
    top:-1px;
    width: 100%;
    visibility:hidden;
    z-index:2;
}
h2.title {
    margin-top:5px;
    margin-bottom:25px;
    color:#222;
}
h2.title a{
    color:#222;
}
h2.price { color:#222; font-size:22px}	
#main table{
    width:100%;
    border:#dddddd solid 1px;
}
#main table thead{
    background:#efefef;
}
#main table thead td{ 
    font-weight:bold; 
    vertical-align:top;
}		
#main table td{
    border-bottom:#dddddd solid 1px;
	vertical-align:middle;
}
#main table tbody tr:hover td{
    background:#efefef;
}
#main table tbody tr.row_user_active_comment td{
    background:#fef8c8;
}
#main table tbody tr.row_user_inactive_comment td{
    background:#ffcbc1;
}
#main table tbody tr.row_user_reply td{
    background:#cff9ce;
}
#main table td.last{
    text-align:right;
}
#main table.options_table td{
    padding: 3px;
    vertical-align: middle;
}
#main table.options_table td input.text { 
    margin: 5px;   
}
table.order_list thead th{ 
    vertical-align:middle;
    text-align:left;
    padding:10px;
}
table.order_list thead th input.short { 
    margin: 0;  
}
table.order_list select {
    min-width: 120px;
    width: 120px;
    margin: 0;   
}
table.order_list th.last{
    text-align:right;
}
#main table tbody tr.group_row td{
	background:#f4c1a6;
}
#main table tbody tr.group_row:hover td{
	background:#f4c0a6;
}
.group_btn {
	position:absolute;
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	background:url(../../images/admin/group_btn.png)no-repeat;
	cursor: pointer;
}
/************************************************* FOOTER ***************************************************/
#footer-c-wrap {
    position:absolute;
    bottom:0;
    width:100%;
    clear:both;
    height:35px;
    background:#a2b3c4;
}
#footer-c-wrap .content { overflow:hidden; height:35px;}
#footer-c-wrap a {
    text-decoration:none;
    color:#ffffff;
}
#footer-c-wrap a:hover { 
    text-decoration:underline;
}
#footer-c-wrap p {
    padding:10px 0;
    float:left;
    font-size:11px;
    line-height:14px;
    color:#ffffff;
    width:90%;
}
#footer-c-wrap a.top {
    float:right;
    font-size:10px;
    padding:10px 0 0 0;
}
.banners_preview  img{ width:200px;}
.files_content { position:relative; margin-top:25px; margin-bottom:25px; padding:15px; border:#c4c4c4 solid 1px; border-radius:5px;}
.images_content { position:relative; margin-top:25px; margin-bottom:25px; padding:15px; border:#c4c4c4 solid 1px; border-radius:5px;}
.doimages_content { position:relative; margin-top:25px; margin-bottom:25px; padding:15px; border:#c4c4c4 solid 1px; border-radius:5px;}
.description { position:absolute; top:5px; left:30px; color:#747474}
.form_item_file { position:relative; margin-top:15px; margin-left:15px; display:inline-table; padding:10px; border:#c4c4c4 solid 1px; border-radius:5px;}
.form_item_file_photo { position:relative; margin-top:15px; margin-left:15px; padding:10px; border:#c4c4c4 solid 1px; border-radius:5px;}
.form_item_file_photo img{ margin-right:15px; max-width:515px}
.form_item_file_photo a[href$=".doc"]:before,
.form_item_file_photo a[href$=".docx"]:before {
	content:"";
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom:0px;
    background-image: url(../../images/admin/doc_file.png);
}
.form_item_file_photo a[href$=".xls"]:before,
.form_item_file_photo a[href$=".xlsx"]:before {
	content:"";
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom:0px;
    background-image: url(../../images/admin/xls_file.png) ;
}
.form_item_file_photo a[href$=".pdf"]:before {
	content:"";
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom:0px;
    background-image: url(../../images/admin/pdf_file.png) ;
}
.form_item_file_photo a[href$=".rar"]:before,
.form_item_file_photo a[href$=".gz"]:before,
.form_item_file_photo a[href$=".zip"]:before {
	content:"";
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom:0px;
    background-image: url(../../images/admin/zip_file.png) ;
}
h2.slogan {
    position:absolute;
    top:20px;
    right:5%;
    color:#ffffff;
    font-size:14px;
}	
#logo img{ position:absolute;
        top:7px;
        left:5%;
        width: 150px;
}
#topmenu {
    position:relative;
    top:-40px;
    width:100%;
    height:40px;
    padding-top:25px;
    background:#efefef;
}
td.last { text-align: right}
td.first { text-align: left}
a.edit { color:green}
a.delete { color:red}	
.wait { background:url(../../images/admin/progressbar.gif) top left repeat-x; width:535px; height:22px; border:#cccccc solid 1px;  border-radius:3px;}
.wait_round { background:url(../../images/loading.gif) no-repeat; float:right; width:24px; height:24px; margin-top: 20px; margin-right: 25px; margin-left:25px;}
.wait_import { background:url(../../images/admin/progressbar.gif) top left repeat-x; width:100px; height:10px; border:#cccccc solid 1px;  border-radius:3px;}
.success_xls { margin-top:10px; padding:10px}
.success_zip { margin-top:10px; padding:10px}
.form_item_file_delete { position:absolute; top:10px; right:10px; width:16px; height:16px; background:url(../../images/admin/delete.png) no-repeat; cursor:pointer}
.form_item_file_update { position:absolute; top:8px; right:35px; width:24px; height:24px; background:url(../../images/admin/edit_page.png) no-repeat; cursor:pointer}
.form_item_file_update_ok { position:absolute; top:10px; right:75px; width:16px; height:16px;}
#sortable .form_item_file:hover { cursor:move}
#sortable .form_item_file_photo:hover { cursor:move}
.order_status_in { 
    display:none; 
    position:relative; 
    width:200px; 
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9999}
.order_status_in select{ max-width:170px;}
.order_shipping_in { 
    display:none; 
    position:relative; 
    width:200px; 
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9999}
.order_shipping_in select{ max-width:170px;}
.order_payment_in { 
    display:none; 
    position:relative; 
    width:200px; 
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9999}
.order_payment_in select{ max-width:170px;}
#order_customer_in { 
    display:none; 
    position:relative; 
    width:230px; 
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9999}
	
.dialog { 
    display:none; 
    position:fixed; 
    top:250px; 
    right:5%; 
    
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9990}
.order_addproduct_in { 
    display:none; 
    position:fixed; 
    top:200px; 
    left:25%; 
    width:50%;  
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9990}
.order_addproduct_in #search_sku { 
    font-size:16px;
    font-weight:bold;
    width:85%;
    padding:7px 5% 7px 5%; 
}
.order_addproduct_in .tovar-price {
    color: #f34d78;
    font: bold 1.25em 'Courier New', serif;
}
.order_addproduct_in .tovar-price.disabled {
    text-decoration: line-through;
    color: #898989;
    font-size: 1.25em;
}
.order_addproduct_in #addproduct_wrapper img { 
    float:left;
    margin:0 20px 20px 0; 
}
.new_option_in { 
    display:none; 
    position:fixed; 
    top:200px; 
    left:25%; 
    width:50%;  
    background:#dddddd; 
    padding:10px; 
    -webkit-box-shadow: 0px 2px 10px #232323;
    -moz-box-shadow: 0px 2px 10px #232323;
    box-shadow: 0px 2px 10px #232323;
    z-index:9990}
.img_container{
	position:relative;
	width:100px;      
}
.text_ok {
	font-weight:bold;
	color:green;
}
.text_error{
	font-weight:bold;
	color:red;
}
.upload_status{
	position:absolute;
    display:none;
    top:30px;
    right:45px;
}	
.add_option_img {     
    width:64px;      
    padding:2px; 
    border:#ffffff solid 1px;
    margin: 5px 25px 10px 5px;
}
.new_option_in .add_option_img:hover {     
    
}
.del_option_img {     
    position:absolute;
    top:5px;
    right:10px;
}
.del_option_img:hover {     
    cursor:pointer;
}
.open_status { cursor: pointer}
.open_status img {position: relative; top: 5px;}
.open_shipping { cursor: pointer}
.open_shipping img {position: relative; top: 5px;}
.open_payment { cursor: pointer}
.open_payment img {position: relative; top: 5px;}
.open_customer { position:absolute; top:10px; right:100px; cursor: pointer}
.open_product { position:absolute; top:10px; right:100px; cursor: pointer}
.close_status { position:absolute; top:5px; right:5px; width:16px; height:16px; cursor: pointer}
.close_shipping { position:absolute; top:5px; right:5px; width:16px; height:16px; cursor: pointer}
.close_payment { position:absolute; top:5px; right:5px; width:16px; height:16px; cursor: pointer}
#category_list { position:absolute; top:0px; right:30%; background:#efefef; padding:20px; z-index:9999; display:none;
                 border-radius:10px;
                 -moz-border-radius:10px;
                 -webkit-border-radius:10px;
                 -webkit-box-shadow: 0px 2px 10px #232323;
                 -moz-box-shadow: 0px 2px 10px #232323;
                 box-shadow: 0px 2px 10px #232323;}
#options_list { position:absolute; top:0px; right:5%; background:#efefef; padding:20px; z-index:9999; display:none;
                border-radius:10px;
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                -webkit-box-shadow: 0px 2px 10px #232323;
                -moz-box-shadow: 0px 2px 10px #232323;
                box-shadow: 0px 2px 10px #232323;}
#password_in { position:absolute; top:150px; left:220px; background:#efefef; padding:20px; z-index:9999; display:none;
               border-radius:10px;
               -moz-border-radius:10px;
               -webkit-border-radius:10px;
               -webkit-box-shadow: 0px 2px 10px #232323;
               -moz-box-shadow: 0px 2px 10px #232323;
               box-shadow: 0px 2px 10px #232323;}
.pagination_nav { width:100%; margin-top:15px; margin-bottom:10px; font-weight:bold}
.pagination_nav a{ margin-left:5px; margin-right:5px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#222; font-size:16px}
.pagination_nav span.total{ margin-left:5px; margin-right:5px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px}
.pagination_nav span.num{ }
.pagination_nav select{}
.filter_submit { width:17px; margin-top:px; margin-left:0px; cursor:pointer}
.clear { clear: both;}
.clear-footer {
    clear: both;
    overflow: hidden;
    height:50px;
}
.float_left {
    float:left;
    position:relative;
}
.float_right {
    float:right;
    position:relative;
}
.icons {
	margin:2px;
	cursor:pointer;
}